body {
    background: #ffe6f2;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 40px;
    text-align: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.hero {
    width: 100%;
    max-width: 350px;
    margin: 15px 0;
    border-radius: 10px;
}

.message {
    font-size: 1.2rem;
}

.card2 {
    background: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.vegabaja {
    width: 100%;
    max-width: 350px;
    margin: 15px 0;
    border-radius: 10px;
}

.message2 {
    font-size: 1.2rem;
}